.lmsgi{
    background-color: blueviolet;
}
.ped{
    background-color: chartreuse;
}
.ipoi{
    background-color: aqua;
}
.bd{
    background-color: chocolate;
}
.tut{
    background-color: darkgreen;
}
.diw{
    background-color: mediumseagreen;
}
.an{
    background-color: brown;
}
.si{
    background-color: deeppink;
}
.dia{
    background-color: rgb(69, 255, 121) ;
}
.textH{
    color: blue ;
}
.textC{
    color: gold;
}